.register-board{
    width: 400px;
    border: solid;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.robot-img{
    width: 200px;
    height: 200px;

}
.register-board form{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.register-button{
    background-color: antiquewhite;
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.avatar-exhibit{
    max-width: 200px;
    max-height: 200px;
}
.email-block{
    margin-top: 10px;
    margin-bottom: 10px;
    width:300px;
    height:30px;
}
.password-block{
    margin-bottom: 10px;
    width:300px;
    height:30px;
}